.btnAnimation {
  animation-name: swipe;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.btnAnimationReverse {
  animation-name: swipeReverse;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@media screen and (max-width: 1024px) {
  .btnAnimation {
    animation-name: swipeMob;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .btnAnimationReverse {
    animation-name: swipeReverseMob;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}

@keyframes swipe {
  0% {@apply -left-4;}
  100% {left: 85%;}
}

@keyframes swipeMob {
  0% {@apply -left-[1%];}
  100% {left: 90%;}
}

@keyframes swipeReverse {
  0% {left: 85%;}
  100% {@apply -left-4;}
}

@keyframes swipeReverseMob {
  0% {left: 93%;}
  100% {@apply -left-[1%];}
}
