@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

html, body {
    scroll-behavior: smooth;
}

#darkInput {
    border-color: white!important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s!important;
}

.Mui-focused {
    color: #00abc2!important;
    p {
        color: white;
    }
    svg {
        fill: #00abc2;
    }
}
.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
        border-color: #00abc2!important;
    }
}
.Mui-selected {
    color: #ffffff!important;
    background-color: #00abc2!important;
    span {
        color: #fff;
    }
    svg {
        color: #fff;
    }
}

.MuiTypography-root {
    font-family: 'Roboto', sans-serif;
}

input {
    &:focus {
        border-color: #00abc2 !important;
    }
}

.biometric-result-success {
    display: none;
}

.bv-language-button {
    display: none;
}
.MuiRadio-root.Mui-checked {
    color: #00abc2 !important;
}

.bv-close-button {
    display: none;
}

.MuiDialog-paper {
    margin: 1rem!important;
}

.success-animation {
    .checkmark {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #4bb71b;
        stroke-miterlimit: 10;
        box-shadow: inset 0 0 0 #4bb71b;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
        position:relative;
        top: 5px;
        right: 5px;
        margin: 0 auto;
    }
    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 1;
        stroke-miterlimit: 10;
        stroke: #4bb71b;
        fill: transparent;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

    }
    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }
    @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
    }
    @keyframes scale {
        0%, 100% {
            transform: none;
        }
        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
    }
    @keyframes fill {
        100% {
            box-shadow: inset 0 0 0 2px #4bb71b;
        }
    }
}

.react-tel-input {
    .highlight {
        background: #00abc2!important;
        span {
            color: white!important;
        }
    }
    .country-list {
        @apply dark:bg-[#0a0a0a] #{!important};
        @apply border border-[#ffffff3b]
    }
    .form-control {
        padding: 16.5px 14px 16.5px 58px !important;
        width: 100% !important;
        @apply dark:bg-transparent #{!important};
        @apply dark:border-[#ffffff3b] #{!important};
        &:hover {
            border-color: #00abc2 !important;
        }
        &:focus {
            box-shadow: 0 0 0 1px #00abc2 !important;
        }
    }
    .special-label {
        top: -10px !important;
        left: 10px !important;
        color: black;
        @apply dark:text-[#ffffffb3] #{!important};
        @apply dark:bg-[#0a0a0a] #{!important};
    }
    input {
        &:focus {
            border-color: #00abc2 !important;
        }
    }
}

.button__outlined {
    @apply rounded-full;
    @apply capitalize;
    border-color: #00abc2;
    color: #00abc2;
    &:hover {
        border-color: #00abc2;
        background-color: #00abc2;
        color: white;
    }
}

.button__contained {
    @apply rounded-full;
    @apply capitalize;
    background-color: #00abc2;
    color: white;

    &:hover {
        background-color: #00abc2;
        @apply shadow;
        @apply shadow-current;
    }
}

.MuiCard-root {
    background-image: none!important;
    background-color: transparent!important;
    box-shadow: none!important;

    .MuiCardMedia-root {
        border-radius: 1rem;
        max-width: 100% !important;
        max-height: 240px !important;
    }

    .MuiCardContent-root {
        padding: 1rem 0!important;
    }

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .MuiCardActionArea-focusHighlight {
        border-radius: 1rem;
    }

    &:hover {
        .MuiTypography-h5 {
            color: #00abc2!important;
        }
        p {
            background-color: #00abc2!important;
        }
    }

    p {
        @apply rounded-xl;
        padding: 1rem;
        background-color: #1d1d1d!important;
    }
}
